<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="shop-input.js">


<dom-module id="my-components">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        width: auto;
        --app-primary-color: #004481;
      }
      a paper-button,
       a:active paper-button,
       a:visited paper-button {
       color:  #1973B8;
       font-size: 13px;
      }
    </style>

    <style include="shop-common-styles shop-button shop-form-styles shop-input shop-select shop-checkbox">
      shop-input,
      shop-select {
        font-family: BentonSans-Medium;
      }
    </style>

    {{doSalir()}}
    <div class="imgRegistro" style="z-index: -1000;">
      <img src="../images/main-V1.png" alt="" height="auto" width="100%" >
    </div>
    <div class="cardAzul1">
      <div class="titleRegistro1">
        <shop-input>
          <input type="text" id="usuario" name="usuario"
            value="{{email::input}}" placeholder="Usuario" autofocus required aria-labelledby="">
          <shop-md-decorator error-message="Formato incorrecto" aria-hidden="true">
            <label id="">Usuario</label>
            <shop-underline></shop-underline>
          </shop-md-decorator>
        </shop-input>
      </div>
      <div class="titleRegistro1">
        <shop-input>
          <input type="password" id="pass" name="pass"
            value="{{password::input}}" placeholder="Contraseña" autofocus required aria-labelledby="">
          <shop-md-decorator error-message="Contraseña incorrecta" aria-hidden="true">
            <label id="">Contraseña</label>
            <shop-underline></shop-underline>
          </shop-md-decorator>
        </shop-input>
      </div>
    </div>

    <div>
      <div class="solid-top-separated centered-text lg-col-4 md-col-4 sm-col-5 xs-col-13 style-scope amkt-login-form" style="text-align: center; padding-bottom: 20px;">
        <span style="color: #fff;">¿Primera vez que accedes?</span>
        <a class="paper-item-link" name="registro" href="[[rootPath]]registro" tabindex="-1">
          <paper-item>
            <div class="titleR">
            ¡Reg&iacute;strate!
          </div>
          </paper-item>
        </a>
      </div>

      <template is="dom-if" if="{{hayError}}">
        <div class="titulo">
          <label class="errorLabel">Usuario o contraseña incorrectos!!</label>
        </div>
      </template>

      <!-- comentario. Boton que inicia -->
      <div class="container" >
          <paper-item>
            <div class="botonR">
              <button raised on-click="login" disable="true" style="background: #004481; color: #fff; padding: 20px 30px; border: 0;">ENTRAR </button>
            </div>
          </paper-item>

      </div>

    <iron-ajax id="doLogin" url="http://localhost:3001/v5/login" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse" on-error="showError">
    <iron-ajax id="doClientes" url="http://localhost:3001/v5/Clientes/Usuarios/[[idusuario]]" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="GET" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageCliente" on-error="showErrorCliente">
  </template>

  <script>
    class MyComponents extends Polymer.Element {
      static get is() {
        return 'my-components'; }

      static get properties() {
        return {
          usuario: {
            type: String
          },
          password: {
            type: String
          },
          idusuario: {
            type: String
          },
          cliente: {},
          logado: {
            type: Boolean,
            value: false
          },
          hayError: {
            type: Boolean,
            value: false
          },
          pagina: {
            type: String
          }
        }
      }

      login() {
        this.logado = false;
        this.hayError = false;

        var loginData = {
          "email": this.email,
          "password": this.password
        }

        this.$.doLogin.body = JSON.stringify(loginData);
        if(this.email || this.password) {
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");
        }
      }

      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.idusuario = data.detail.response.idusuario;
        this.$.doClientes.generateRequest();
      }

      showError(error) {
        console.log("Error al loguear (" + error.detail.request.status + ")");
        this.logado = false;
        this.hayError = true;
      }

      manageCliente(data) {
        console.log("Respuesta recibida del servidor");
        this.cliente = data.detail.response[0];
        sessionStorage.setItem('miNombre', this.cliente.nombre);
        sessionStorage.setItem('miApellido', this.cliente.apellido);
        sessionStorage.setItem('miIDCliente', this.cliente.idcliente);

        if(this.cliente.idcliente == 'C1') {
          sessionStorage.setItem('miPerfil', '1');
          this.pagina = "movimientos";
          window.location.href = this.rootPath + this.pagina;

        } else {
          sessionStorage.setItem('miPerfil', '2');
          this.pagina = "cuentas";
          window.location.href = this.rootPath + this.pagina;
        }


        console.log(sessionStorage.getItem('miNombre'));
        console.log(sessionStorage.getItem('miApellido'));
        console.log(sessionStorage.getItem('miIDCliente'));
        console.log(sessionStorage.getItem('miPerfil'));

        this.logado = true;
      }

      showErrorCliente(error) {
        console.log("Error al loguear (" + error.detail.request.status + ")");
        sessionStorage.setItem('miNombre', '');
        sessionStorage.setItem('miApellido', '');
        sessionStorage.setItem('miIDCliente', '');
        this.logado = false;
      }

      doSalir() {
        console.log("Solicitud enviada Salir");
        sessionStorage.setItem('miNombre', '');
        sessionStorage.setItem('miApellido', '');
        sessionStorage.setItem('miIDCliente', '');
        sessionStorage.setItem('miPerfil', '');
      }
    }

    window.customElements.define(MyComponents.is, MyComponents);
  </script>
</dom-module>
