<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        background-color: #1973B8;
        padding: 20px;
        width: auto;
        height: 278px;
      }
      paper-icon-item {
        color:#DFDFDF;
      }
    </style>

    <div class="iniciales">
      <div class="letras">
      </div>
    </div>
    <div class="iniciales">
        <div class="nameU">Buenos días</div>
    </div>
    <!-- div principal -->
    <div class="card">
    <template is="dom-if" if="{{!hayCuentas}}">
      <table class="tableCard">
        <tr>
          <td class="tdCard">NO TIENE CUENTAS</td>
          <td class="tdTotal">$0[[total]]</td>
        </tr>
      </table>
    </template>

    <template is="dom-if" if="{{hayCuentas}}">
      <table class="tableCard">
        <tr>
          <td class="tdCard">CUENTAS</td>
          <td class="tdTotal"></td>
        </tr>
      </table>
      <br><br>

      <template is="dom-repeat" items="{{cuentas}}" as="cuenta">
        <table class="tableCard">
          <template is="dom-repeat" items="{{cuenta.saldos}}" as="saldo">
            <tr>
              <td class="tdCuenta" on-click="doMovimientos" id="{{cuenta.idcuenta}}">{{cuenta.tipo}}</td>
              <td class="tdCuentaTotal">${{saldo.monto}}</td>
            </tr>
            <tr>
              <td class="tdNumCuenta">{{cuenta.numero}}</td>
              <td class="tdSaldo">{{saldo.descripcion}}</td>
            </tr>
          </template>
        </table>
        <br><br>
      </template>
    </template>
    </div>

    <template is="dom-if" if="{{hayMovimientos}}">
    <p>MOVIMIENTOS</p>
    </template>
    <template is="dom-if" if="{{!hayMovimientos}}">
    <p>SIN MOVIMIENTOS</p>
    </template>

    <template is="dom-repeat" items="{{movimientos}}" as="mov">
      <hr/>
      <table class="tablaMovimientos">
        <tr>
          <td class="fecha">{{mov.fecha}}</td>
          <td class="tdMovimiento">{{mov.descripcion}}</td>
        </tr>
        <tr>
          <td class="tdMovimiento">${{mov.importe}}</td>
          <td class="tdMovimiento">{{mov.negocio.nombre}}</td>
        </tr>
      </table>
      <hr/>
    </template>

    <iron-ajax id="doCuentas" url="http://localhost:3001/v5/Cuentas/Cliente/[[getCliente()]]" auto
      content-type="application/json" crossDomain:true
      dataType:'jsonp' method="GET" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse" on-error="showError">
    <iron-ajax id="doMovimientos" url="http://localhost:3001/v5/Compras"
      content-type="application/json" crossDomain:true
      dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageMovimientos" on-error="showErrorMovimientos">
  </template>

  <script>
    class MyCuentas extends Polymer.Element {
      static get is() {
        return 'my-cuentas'; }

      static get properties() {
        return {
          idcliente: {
            type: String,
            value: "C22"
          },
          cuentas: {
            type: Array,
            value: []
          },
          movimientos: {
            type: Array,
            value: []
          },
          hayMovimientos: {
            type: Boolean,
            value: true
          },
          hayCuentas: {
            type: Boolean,
            value: false
          },
          total: {
            type: Number,
            value: 0
          }
        }
      }

      getCliente() {
        return sessionStorage.getItem('miIDCliente');
      }

      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        this.cuentas = data.detail.response;
        this.hayCuentas = (this.cuentas.length > 0);
      }

      showError(error) {
        console.log("Error al obtener cuentas (" + error.detail.request.status + ")");
      }

      doMovimientos(e) {
        console.log(e.target.id);
        var movsData = { "idcuenta": e.target.id };
        this.idcuenta = e.target.id;

        this.$.doMovimientos.body = JSON.stringify(movsData);
        this.$.doMovimientos.generateRequest();
        console.log("Petición enviada");
      }

      manageMovimientos(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.movimientos = data.detail.response;
        this.hayMovimientos = (this.movimientos.length > 0);
      }

      showErrorMovimientos(error) {
        console.log("Error al obtener movimientos (" + error.detail.request.status + ")");
      }
    }

    window.customElements.define(MyCuentas.is, MyCuentas);
  </script>
</dom-module>
