<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    {{ doSalir() }}
  </template>

  <script>
    class MyCuenta extends Polymer.Element {
      static get is() { return 'my-cuenta'; }

      doSalir() {
        console.log("Solicitud enviada Salir cuenta");
        sessionStorage.setItem('miNombre', '');
        sessionStorage.setItem('miApellido', '');
        sessionStorage.setItem('miIDCliente', '');
        sessionStorage.setItem('miPerfil', '');

        window.location.href = this.rootPath + "my-login"
      }
    }

    window.customElements.define(MyCuenta.is, MyCuenta);
  </script>
</dom-module>
