
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/google-map/google-map.html">

<dom-module id="my-mapa">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        background-color: var(--app-primary-color);
      }
      google-map {
      height: 100%;
    }
    </style>
    <body>
      <!-- coordenadas -->
      <google-map id="googleMap" fit-to-markers="true"
        click-events
        mouse-events
        api-key="AIzaSyD1FTTnxzuTYH6sOTj5JBRSJ82DWMptDa4"
        latitude="{{latitud}}" longitude="{{longitud}}"
        drag-events="true"
        on-google-map-dragstart="_onDragStart"
        on-google-map-dragend="_onDragEnd"
        zoom="14">
        <google-map-marker latitude="{{latitud}}" longitude="{{longitud}}" draggable="true"></google-map-marker>
        <dom-repeat items="{{atms}}" as="atm">
          <template>
            <google-map-marker
              click-events
              mouse-events
              data-index$="{{atm.id}}"
              icon="src/img/atm.svg"
              title="{{atm.direccion}} ({{atm.lugar}})"
              latitude="{{atm.latitud}}"
              longitude="{{atm.longitud}}">
            </google-map-marker>
          </template>
        </dom-repeat>
        <dom-repeat items="{{movs}}" as="mov">
          <template>
            <google-map-marker
              click-events
              mouse-events
              data-index$="{{mov.id}}"
              icon="src/img/me.svg"
              title="{{mov.direccion}} ({{mov.lugar}})"
              latitude="{{mov.latitud}}"
              longitude="{{mov.longitud}}">
            </google-map-marker>
          </template>
        </dom-repeat>
      </google-map>
      {{ getMyLocation() }}
    </body>

    <iron-ajax id="doToken" url="http://localhost:3001/v5/ConnectBBVA" auto content-type="application/json" crossDomain:true
      dataType:'jsonp' method="GET" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageToken" on-error="showErrorToken">
    <iron-ajax id="doPOis" url="http://localhost:3001/v5/BBVAAtms?cp=[[cp]]" content-type="application/json"
      dataType:'jsonp' method="POST" handle-as="json"
      on-response="managePOis" on-error="showErrorPOis">
    <iron-ajax id="doCompras" url="http://localhost:3001/v5/Compras" content-type="application/json"
      dataType:'jsonp' method="POST" handle-as="json"
      on-response="manageCompras" on-error="showErrorCompras">
  </template>

  <script>
    class MyMapa extends Polymer.Element {
      static get is() { return 'my-mapa'; }

      static get properties() {
        return {
          token: {
            type: String
          },
          cp: {
            type: String,
            value: "",
            observer: 'doDenuevo'
          },
          atms: {
            type: Array,
            value: []
          },
          movs: {
            type: Array,
            value: []
          },
          longitud: {
            type: String
          },
          latitud: {
            type: String
          }
        }
      }

      getMyLocation() {
        let success = this._onPosition.bind(this);
        let error = this._onError.bind(this);
        navigator.geolocation.getCurrentPosition( success, error );
      }

      manageToken(data) {
        var miIDCliente = sessionStorage.getItem('miIDCliente');
        this.token = data.detail.response.access_token;

        if (miIDCliente != '' && this.cp != "") {
          this.$.doPOis.body = '{"Authorization": \"' + this.token + '\"}';
          this.$.doPOis.generateRequest();

          console.log("IDCliente compras: " + miIDCliente);

          this.$.doCompras.body = '{"idcliente": \"' + miIDCliente + '\"}';
          this.$.doCompras.generateRequest();
        }
      }

      _onPosition(pos) {
        this.latitud = pos.coords.latitude;
        this.longitud = pos.coords.longitude;

        console.log(this.latitud);
        console.log(this.longitud);

        let _latlng = { lat: this.latitud, lng: this.longitud };

        this._getCP(_latlng);
      }

      _onError(err) {
        console.log(err);
      }

      showErrorToken(error) {
        console.log("Error al obtener token (" + error.detail.request.status + ")");
      }

      managePOis(data) {
        var atmList = [];
        var atms = data.detail.response.data[0].Brand[0].ATM;

        if (atms) {
          atmList = atms.map((atm) => {
            return this.normalizedPOis(atm);
          });

          this.atms = atmList;
        }
      }

      showErrorPOis(error) {
        console.log("Error al obtener direcciones (" + error.detail.request.status + ")");
      }

      normalizedPOis(atm) {
        return {
          id: atm.Identification,
          direccion: atm.Location.PostalAddress.AddressLine[0],
          lugar: atm.Location.Site.Name,
          latitud: atm.Location.PostalAddress.GeoLocation.GeographicCoordinates.Latitude,
          longitud: atm.Location.PostalAddress.GeoLocation.GeographicCoordinates.Longitude
        };
      }

      manageCompras(data) {
        console.log("Respuesta recibida del servidor compras");
        console.log(data.detail.response);

        var movsList = [];
        var movs = data.detail.response;
        var i=0

        if (movs) {
          movsList = movs.map((mov) => {
            return this.normalizedCompras(mov, i++);
          });

          this.movs = movsList;
        }

        console.log(this.movs);
      }

      showErrorCompras(error) {
        console.log("Error al obtener compras (" + error.detail.request.status + ")");
      }

      normalizedCompras(mov, i) {
        return {
          id: i,
          direccion: mov.negocio.direccion,
          lugar: mov.negocio.rfc,
          latitud: mov.negocio.geolocalizacion.latitud,
          longitud: mov.negocio.geolocalizacion.longitud
        };
      }

      _onDragStart(payload) {
        console.log("_onDragStart" + JSON.stringify(payload));
      }

      _onDragEnd() {
        let newPosition = this.shadowRoot.querySelector('#googleMap').map.getCenter();
        let _latlng = { lat: newPosition.lat(), lng: newPosition.lng() };
        console.log("_onDragEnd" + JSON.stringify(_latlng));
        console.log("CPX " + this.cp);

        this._getCP(_latlng);
      }

      _getCP(latgng) {
        let geocoder = new google.maps.Geocoder;
        geocoder.geocode({ 'location': latgng }, function(position) {
          if (position[0].address_components) {
            for(let i=0; i<position[0].address_components.length; i++) {
              if(position[0].address_components[i].types == 'postal_code') {
                this.set('cp', position[0].address_components[i].short_name);
              }
            }
          } else {
            console.log("Sin dato de CP");
          }
        }.bind(this));
      }

      doDenuevo() {
        this.$.doToken.generateRequest();
      }
    }

    window.customElements.define(MyMapa.is, MyMapa);
  </script>
</dom-module>
