
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-item/paper-item.js">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-icons.html">

<dom-module id="my-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        height: 100%;
        background-color: var(--app-primary-color);
        padding: 20px;
        width: auto;
      }
      paper-icon-item {
        color:#DFDFDF;
      }
    </style>

    <div class="card">
      <div class="titulo">Alta de Movimiento</div>
      <br/>
      <form is="iron-form" id="form-login" method="POST" action="/v5/login">
        <table class="tablaMovimientos">
          <tr>
              <td class="tdMovimiento"><label>Cliente: </label></td>
              <td class="tdMovimiento">
                <select id="cliente" name="cliente" value="{{cliente::input}}" on-change="doGetCuentas">
                  <option>Seleccione</option>
                  <template is="dom-repeat" items="[[clientes]]" as="cte">
                    <option value="[[cte.idcliente]]">[[cte.apellido]], [[cte.nombre]]</option>
                  </template>
                </select>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Cuenta: </label></td>
              <td class="tdMovimiento">
                <select id="cuenta" name="cuenta" value="{{cuenta::input}}">
                  <option>Seleccione</option>
                  <template is="dom-repeat" items="[[cuentas]]" as="cta">
                    <option value="[[cta.idcuenta]]">[[cta.numero]], [[cta.tipo]]</option>
                  </template>
                </select>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Fecha: </label></td>
              <td class="tdMovimiento">
                <input type="text" id="fecha" name="fecha" placeholder="Fecha" value="{{fecha::input}}"
                  autofocus required>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Descripción: </label></td>
              <td class="tdMovimiento">
                <input type="text" id="descripcion" name="descripcion" placeholder="Descripcion" value="{{descripcion::input}}"
                  autofocus required>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Monto: </label></td>
              <td class="tdMovimiento">
                <input type="text" id="monto" name="monto" placeholder="Monto" value="{{monto::input}}"
                  autofocus required>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Negocio: </label></td>
              <td class="tdMovimiento">
                <select id="negocio" name="negocio" value="{{idnegocio::input}}">
                  <option>Seleccione</option>
                  <template is="dom-repeat" items="[[negocios]]" as="neg">
                    <option value="[[neg.rfc]]">[[neg.nombre]] [[neg.rfc]]</option>
                  </template>
                </select>
              </td>
          </tr>
        </table>

        <template is="dom-if" if="{{hayError}}">
          <div class="titulo">
            <label class="errorLabel">[[error]]</label>
          </div>
        </template>

        <template is="dom-if" if="{{registrado}}">
          <div class="titulo">
            <label>Cuenta registrado con éxito!!</label>
          </div>
        </template>

        <div class="titleRegistro">
          <div class="container flex-button">
            <!--a class="paper-item-link" name="view2" href="[[rootPath]]login" tabindex="-1"-->
              <paper-item>
                <paper-button raised on-click="register" style="color: #fff;background: #00294e;">Registrar</paper-button>
              </paper-item>
            <!--/a-->
          </div>
        </div>
      </form>
    </div>

    <iron-ajax id="doClientes" url="http://localhost:3001/v5/Clientes" auto content-type="application/json" crossDomain:true
      dataType:'jsonp' method="Get" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageClientes" on-error="showErrorClientes">
    <iron-ajax id="doNegocios" url="http://localhost:3001/v5/Negocios" auto content-type="application/json" crossDomain:true
      dataType:'jsonp' method="Get" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageNegocios" on-error="showErrorNegocios">
    <iron-ajax id="doCuentas" url="http://localhost:3001/v5/Cuentas/Cliente/[[cliente]]" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="Get" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageCuentas" on-error="showErrorCuentas">
    <iron-ajax id="doInsMovimientos" url="http://localhost:3001/v5/Movimientos" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageInsMovimientos" on-error="addErrorInsMovimientos">


  </template>
  <script>
    class MyMovimientos extends Polymer.Element {
      static get is() { return 'my-movimientos'; }

      static get properties() {
        return {
          clientes: {
            type: Array,
            value: []
          },
          cuentas: {
            type: Array,
            value: []
          },
          negocios: {
            type: Array,
            value: []
          },
          cliente: {
            type: String
          },
          cuenta: {
            type: String
          },
          fecha: {
            type: String
          },
          idnegocio: {
            type: String
          },
          negocio: {
            type: String
          },
          descripcion: {
            type: String
          },
          monto: {
            type: String
          }
        }
      }

      register() {
        var dataMovimiento = {
          "idcliente": this.cliente,
          "idcuenta": this.cuenta,
          "fecha": this.fecha,
          "importe": this.monto,
          "descripcion": this.descripcion,
          "negocio": {}
        };

        this.addError(null);

        if(!this.cliente) { this.addError("Ingrese un cliente"); }
        if(!this.cuenta) { this.addError("Ingrese una cuenta"); }
        if(!this.fecha) { this.addError("Ingrese una fecha"); }
        if(!this.descripcion) { this.addError("Ingrese una descripcion"); }
        if(!this.monto) { this.addError("Ingrese un monto"); }
        if(!this.idnegocio) { this.addError("Ingrese un negocio"); }

        if(!this.esNumber(this.monto)) { this.addError("Monto incorrecto"); }

        if(!this.hayError) {
          this.negocio = this.negocios.find(element => element.rfc == this.idnegocio);
          console.log(this.idnegocio);
          console.log(this.negocio);

          dataMovimiento.negocio.nombre = this.negocio.nombre;
          dataMovimiento.negocio.direccion = this.negocio.direccion;
          dataMovimiento.negocio.rfc = this.negocio.rfc;
          dataMovimiento.negocio.geolocalizacion = this.negocio.geolocalizacion;
          console.log(dataMovimiento);

          this.$.doInsMovimientos.body = JSON.stringify(dataMovimiento);
          this.$.doInsMovimientos.generateRequest();
        };
      }

      manageClientes(data) {
        console.log(data.detail.response);
        this.clientes = data.detail.response;
      }

      showErrorClientes() {
        this.addError("Error al consultar clientes (" + data.detail.request.status + ")");
      }

      doGetCuentas(e) {
        console.log(this.cliente);
        if (this.cliente) {
          this.$.doCuentas.generateRequest();
        }
      }

      manageCuentas(data) {
        console.log(data.detail.response);
        this.cuentas = data.detail.response;
      }

      showErrorCuentas() {
        this.addError("Error al consultar cuentas (" + data.detail.request.status + ")");
      }

      manageNegocios(data) {
        console.log(data.detail.response);
        this.negocios = data.detail.response;
      }

      showErrorNegocios() {
        this.addError("Error al consultar negocios (" + data.detail.request.status + ")");
      }

      manageInsMovimientos(data) {
        this.fecha = "";
        this.descripcion = "";
        this.monto = "";
        this.registrado = true;
      }

      showErrorInsMovimientos() {
        this.addError("Error al insertar movimiento (" + data.detail.request.status + ")");
      }

      addError(error) {
        if(error) {
          this.error += " -" + error + "- ";
          this.hayError = true;
        }
        else {
          this.error = "";
          this.hayError = false;
        }
      }

      esNumber(number) {
        if(!number) return true;
        return /^([0-9])*$/.test(number);
      }
    }

    window.customElements.define(MyMovimientos.is, MyMovimientos);
  </script>
</dom-module>
