
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-item/paper-item.js">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-icons.html">

<dom-module id="my-negocios">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        height: 100%;
        background-color: var(--app-primary-color);
        padding: 20px;
        width: auto;
      }
      paper-icon-item {
        color:#DFDFDF;
      }
    </style>

    <div class="card">
      <div class="titulo">Alta de Negocios</div>
      <br/>
      <form is="iron-form" id="form-login" method="POST" action="/v5/login">
        <table class="tablaMovimientos">
          <tr>
              <td class="tdMovimiento"><label>Nombre: </label></td>
              <td class="tdMovimiento">
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" value="{{nombre::input}}"
                  autofocus required>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Dirección: </label></td>
              <td class="tdMovimiento">
                <input type="text" id="direccion" name="direccion" placeholder="Direccion" value="{{direccion::input}}"
                  autofocus required>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>RFC: </label></td>
              <td class="tdMovimiento">
                <input type="text" id="rfc" name="rfc" placeholder="RFC" value="{{rfc::input}}"
                  autofocus required>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Longitud: </label></td>
              <td class="tdMovimiento">
                <input type="text" id="longitud" name="longitud" placeholder="Longitud" value="{{longitud::input}}"
                  autofocus required>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Latitud: </label></td>
              <td class="tdMovimiento">
                <input type="text" id="latitud" name="latitud" placeholder="Latitud" value="{{latitud::input}}"
                  autofocus required>
              </td>
          </tr>
        </table>

        <template is="dom-if" if="{{hayError}}">
          <div class="titulo">
            <label class="errorLabel">[[error]]</label>
          </div>
        </template>

        <template is="dom-if" if="{{registrado}}">
          <div class="titulo">
            <label>Negocio registrado con éxito!!</label>
          </div>
        </template>

        <div class="titleRegistro">
          <div class="container flex-button">
            <!--a class="paper-item-link" name="view2" href="[[rootPath]]login" tabindex="-1"-->
              <paper-item>
                <paper-button raised on-click="register" style="color: #fff;background: #00294e;">Registrar</paper-button>
              </paper-item>
            <!--/a-->
          </div>
        </div>
      </form>
    </div>

    <iron-ajax id="doInsNegocio" url="http://localhost:3001/v5/Negocio" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageInsNegocio" on-error="addErrorInsNegocio">

  </template>
  <script>
    class MyNegocios extends Polymer.Element {
      static get is() { return 'my-negocios'; }

      static get properties() {
        return {
          nombre: {
            type: String,
          },
          direccion: {
            type: String,
          },
          rfc: {
            type: String
          },
          longitud: {
            type: String,
          },
          latitud:{
            type: String,
          },
          error: {
            type: String,
            value: ""
          },
          hayError: {
            type: Boolean,
            value: false
          },
          registrado: {
            type: Boolean,
            value: false
          }
        }
      }

      register() {
        var dataNegocio = {
          "nombre": this.nombre,
          "direccion": this.direccion,
          "rfc": this.rfc,
          "geolocalizacion": {
              "latitud": this.latitud,
              "longitud": this.longitud
          }
        };

        this.addError(null);

        if(!this.nombre) { this.addError("Ingrese un nombre"); }
        if(!this.direccion) { this.addError("Ingrese una direccion"); }
        if(!this.rfc) { this.addError("Ingrese un rfc"); }
        if(!this.latitud) { this.addError("Ingrese latitud"); }
        if(!this.longitud) { this.addError("Ingrese longitud"); }

        if(!this.hayError) {
          console.log(dataNegocio);

          this.$.doInsNegocio.body = JSON.stringify(dataNegocio);
          this.$.doInsNegocio.generateRequest();
        };
      }

      manageInsNegocio(data) {
        this.nombre = "";
        this.direccion = "";
        this.rfc = "";
        this.latitud = "";
        this.longitud = "";
        this.registrado = true;
      }

      addErrorInsNegocio(data) {
        this.addError("Error al insertar negocio (" + data.detail.request.status + ")");
      }

      addError(error) {
        if(error) {
          this.error += " -" + error + "- ";
          this.hayError = true;
        }
        else {
          this.error = "";
          this.hayError = false;
        }
      }
    }

    window.customElements.define(MyNegocios.is, MyNegocios);
  </script>
</dom-module>
