<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="shop-input.js">

<dom-module id="my-registro">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        width: auto;
      }
    </style>
    <style include="shop-common-styles shop-button shop-form-styles shop-input shop-select shop-checkbox">
      shop-input,
      shop-select {
        font-family: BentonSans-Medium;
        font-size: 14px;
        color: black;
        letter-spacing: 0;
        line-height: 24px;
        padding: 10px;
      }

      .label {
        color: black;
      }
    </style>

    <!-- <div class="imgRegistro" style="background: url('') center center no-repeat; width: 100%; height: 300px; background-size: 100% auto;">-->
    <div class="imgRegistro">
      <img src="../images/main-V1.png" alt="" height="auto" width="150%" />
    </div>
    <div class="formularioRegistro">
      <div class="titleRegistro">Registro</div>
      <form is="iron-form" id="form-login" method="POST" action="/v5/login">
        <!--  -->
        <div class="titleRegistro">
          <shop-input>
            <input type="nombre" id="nombre" name="nombre" placeholder="Nombre" value="{{nombre::input}}"
              autofocus required aria-labelledby="" onkeyup="">
            <shop-md-decorator error-message="Formato incorrecto" aria-hidden="true">
              <label>Nombre</label>
              <shop-underline></shop-underline>
            </shop-md-decorator>
          </shop-input>
        </div>
        <div class="titleRegistro">
          <shop-input>
            <input type="text" id="paterno" name="paterno" placeholder="Apellido Paterno" value="{{apellido::input}}"
              autofocus required aria-labelledby="" >
            <shop-md-decorator error-message="Formato incorrecto" aria-hidden="true">
              <label id="">Apellido paterno</label>
              <shop-underline></shop-underline>
            </shop-md-decorator>
          </shop-input>
        </div>
        <div class="titleRegistro">
          <shop-input>
            <input type="text" id="email" name="usuario" placeholder="Usuario" autofocus required
              value="{{email::input}}" aria-labelledby="" >
            <shop-md-decorator error-message="Formato incorrecto" aria-hidden="true">
              <label id="">Usuario</label>
              <shop-underline></shop-underline>
            </shop-md-decorator>
          </shop-input>
        </div>
        <div class="titleRegistro">
          <shop-input>
            <input type="password" id="password" name="password"  placeholder="Contraseña" required
              value="{{password::input}}" aria-labelledby="accountPhoneLabel accountInfoHeading" >
            <shop-md-decorator error-message="Formato incorrecto" aria-hidden="true">
              <label id="">Contraseña</label>
              <shop-underline></shop-underline>
            </shop-md-decorator>
          </shop-input>
        </div>
        <div class="titleRegistro">
          <shop-input>
            <input type="password" id="password" name="confirmPassword"  placeholder="Confirmasr Contraseña"
              value="{{cpassword::input}}" required aria-labelledby="accountPhoneLabel accountInfoHeading"  >
            <shop-md-decorator error-message="Formato incorrecto" aria-hidden="true">
              <label id="">Confirmar Contraseña</label>
              <shop-underline></shop-underline>
            </shop-md-decorator>
          </shop-input>
        </div>

        <template is="dom-if" if="{{hayError}}">
          <div class="titulo">
            <label class="errorLabel">[[error]]</label>
          </div>
        </template>

        <template is="dom-if" if="{{registrado}}">
          <div class="titulo">
            <label class="registrate">Usuario registrado con éxito!!</label>
          </div>
        </template>

        <div class="titleRegistro">
          <div class="container flex-button">
            <!--a class="paper-item-link" name="view2" href="[[rootPath]]login" tabindex="-1"-->
              <paper-item>
                <paper-button raised on-click="register" style="color: #fff;background: #00294e;">Registrar</paper-button>
              </paper-item>
            <!--/a-->
          </div>
        </div>
      </form>
    </div>

    <iron-ajax id="doUsuarioByEmail" url="http://localhost:3001/v5/Usuarios/[[email]]" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="Get" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageUsuarioByEmail" on-error="addErrorUsuarioByEmail">
    <iron-ajax id="doIdUsuario" url="http://localhost:3001/v5/Identificador/U" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="Get" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageIdUsuario" on-error="addErrorIdUsuario">
    <iron-ajax id="doInsUsuario" url="http://localhost:3001/v5/Usuarios" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageInsUsuario" on-error="addErrorInsUsuario">
    <iron-ajax id="doIdCliente" url="http://localhost:3001/v5/Identificador/C" content-type="application/json" crossDomain:true
        dataType:'jsonp' method="Get" handle-as="json" headers="Access-Control-Allow-Headers: *"
        on-response="manageIdCliente" on-error="addErrorIdCliente">
    <iron-ajax id="doInsCliente" url="http://localhost:3001/v5/Clientes" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageInsCliente" on-error="addErrorInsCliente">
  </template>

  <script>
    class MyRegistro extends Polymer.Element {
      static get is() {
        return 'my-registro';
      }

      static get properties() {
        return {
          idusuario: {
            type: String,
          },
          idcliente: {
            type: String,
          },
          nombre: {
            type: String
          },
          apellido: {
            type: String,
          },
          email:{
            type: String,
          },
          password: {
            type: String
          },
          cpassword: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          error: {
            type: String,
            value: ""
          },
          hayError: {
            type: Boolean,
            value: false
          },
          registrado: {
            type: Boolean,
            value: false
          }
        }
      }

      register() {
        this.addError(null);

        if(!this.nombre) { this.addError("Ingrese un nombre"); }
        if(!this.apellido) { this.addError("Ingrese un apellido"); }
        if(!this.email) { this.addError("Ingrese un email"); }
        if(!this.password) { this.addError("Ingrese una contraseña"); }
        if(this.password != this.cpassword) { this.addError("Ingresar misma contraseña en confirmación"); }

        if(!this.esName(this.nombre)) { this.addError("Nombre incorrecto"); }
        if(!this.esName(this.apellido)) { this.addError("Apellido incorrecto"); }
        if(!this.esEmail(this.email)) { this.addError("Email incorrecto"); }
        if(!this.esPassword(this.password)) { this.addError("Contraseña mínimo de 8 posiciones"); }

        if(!this.hayError) { this.$.doUsuarioByEmail.generateRequest() };
      }

      manageUsuarioByEmail(data) {
        this.$.doIdUsuario.generateRequest();
      }

      addErrorUsuarioByEmail(data) {
        if (data.detail.request.status = 409) {
          this.addError("El usuario ya existe");
        }
        else {
          this.addError("Error al localizar usuario");
        }
      }

      manageIdUsuario(data) {
        var dataUsuario = {
          "idusuario": "",
          "email": this.email,
          "password": this.password
        };

        this.idusuario = data.detail.response.id;
        dataUsuario.idusuario = this.idusuario;

        this.$.doInsUsuario.body = JSON.stringify(dataUsuario);
        this.$.doInsUsuario.generateRequest();
      }

      addErrorIdUsuario(data) {
        this.addError("Error al obtener ID Usuario (" + data.detail.request.status + ")");
      }

      manageInsUsuario(data) {
        this.$.doIdCliente.generateRequest();
      }

      addErrorInsUsuario(data) {
        this.addError("Error al insertar usuario (" + data.detail.request.status + ")");
      }

      manageIdCliente(data) {
        var dataCliente = {
          "idcliente": "",
          "idusuario": this.idusuario,
          "nombre": this.nombre,
          "apellido": this.apellido,
        };

        this.idcliente = data.detail.response.id;
        dataCliente.idcliente = this.idcliente;

        this.$.doInsCliente.body = JSON.stringify(dataCliente);
        this.$.doInsCliente.generateRequest();
      }

      addErrorIdCliente(data) {
        this.addError("Error al obtener ID Cliente (" + data.detail.request.status + ")");
      }

      manageInsCliente(data) {
        this.nombre = "";
        this.apellido = "";
        this.email = "";
        this.password = "";
        this.cpassword = "";
        this.registrado = true;
      }

      addErrorInsCliente(data) {
        this.addError("Error al insertar Cliente (" + data.detail.request.status + ")");
      }

      addError(error) {
        if(error) {
          this.error += " -" + error + "- ";
          this.hayError = true;
        }
        else {
          this.error = "";
          this.hayError = false;
        }
      }

      esName(name) {
        if(!name) return true;
        return /^[a-zA-Z ]{3,16}/.test(name);
      }

      esEmail(email) {
        if(!email) return true;
        return /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/.test(email);
      }

      esPassword(password) {
        if(!password) return true;
        return (password.length >= 8);
      }
    }

    window.customElements.define(MyRegistro.is, MyRegistro);
  </script>
</dom-module>
