
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-item/paper-item.js">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-icons.html">

<dom-module id="my-saldos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        height: 100%;
        background-color: var(--app-primary-color);
        padding: 20px;
        width: auto;
      }
      paper-icon-item {
        color:#DFDFDF;
      }
    </style>

    <div class="card">
      <div class="titulo">Alta de Cuenta</div>
      <br/>
      <form is="iron-form" id="form-login" method="POST" action="/v5/login">
        <table class="tablaMovimientos">
          <tr>
              <td class="tdMovimiento"><label>Cliente: </label></td>
              <td class="tdMovimiento">
                <select id="cliente" name="cliente" value="{{idcliente::change}}" on-change="doGetCuentas">
                  <option>Seleccione</option>
                  <template is="dom-repeat" items="[[clientes]]" as="cte">
                    <option value="[[cte.idcliente]]">[[cte.apellido]], [[cte.nombre]]</option>
                  </template>
                </select>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Cuenta: </label></td>
              <td class="tdMovimiento">
                <input type="text" id="cuenta" name="cuenta" placeholder="Cuenta" value="{{cuenta::input}}"
                  autofocus required>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Tipo: </label></td>
              <td class="tdMovimiento">
                <select id="tipo" name="tipo" value="{{tipo::change}}">
                  <option>Seleccione</option>
                  <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                  <option value="Tarjeta de débito">Tarjeta de débito</option>
                  <option value="Cuenta de cheques">Cuenta de cheques</option>
                </select>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Saldo disponible: </label></td>
              <td class="tdMovimiento">
                <input type="text" id="disponible" name="disponible" placeholder="Disponible" value="{{disponible::input}}"
                  autofocus required>
              </td>
          </tr>
          <tr>
              <td class="tdMovimiento"><label>Saldo utilizado: </label></td>
              <td class="tdMovimiento">
                <input type="text" id="utilizado" name="utilizado" placeholder="Utilizado" value="{{utilizado::input}}"
                  autofocus required>
              </td>
          </tr>
        </table>

        <template is="dom-if" if="{{hayError}}">
          <div class="titulo">
            <label class="errorLabel">[[error]]</label>
          </div>
        </template>

        <template is="dom-if" if="{{registrado}}">
          <div class="titulo">
            <label>Cuenta registrado con éxito!!</label>
          </div>
        </template>

        <div class="titleRegistro">
          <div class="container flex-button">
            <!--a class="paper-item-link" name="view2" href="[[rootPath]]login" tabindex="-1"-->
              <paper-item>
                <paper-button raised on-click="register" style="color: #fff;background: #00294e;">Registrar</paper-button>
              </paper-item>
            <!--/a-->
          </div>
        </div>
      </form>
    </div>

    <iron-ajax id="doClientes" url="http://localhost:3001/v5/Clientes" auto content-type="application/json" crossDomain:true
      dataType:'jsonp' method="Get" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageClientes" on-error="showErrorClientes">
    <iron-ajax id="doIdCuenta" url="http://localhost:3001/v5/Identificador/T" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="Get" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageIdCuenta" on-error="addErrorIdCuenta">
    <iron-ajax id="doInsCuenta" url="http://localhost:3001/v5/Cuentas" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageInsCuenta" on-error="addErrorInsCuenta">

  </template>
  <script>
    class MySaldos extends Polymer.Element {
      static get is() { return 'my-saldos'; }

      static get properties() {
        return {
          idcuenta: {
            type: String,
          },
          idcliente: {
            type: String,
          },
          cuenta: {
            type: String
          },
          tipo: {
            type: String,
          },
          disponible:{
            type: String,
          },
          utilizado: {
            type: String
          },
          error: {
            type: String,
            value: ""
          },
          hayError: {
            type: Boolean,
            value: false
          },
          registrado: {
            type: Boolean,
            value: false
          }
        }
      }

      register() {
        this.addError(null);

        if(!this.idcliente) { this.addError("Ingrese un cliente"); }
        if(!this.cuenta) { this.addError("Ingrese un numero de cuenta"); }
        if(!this.tipo) { this.addError("Ingrese un tipo de cuenta"); }
        if(!this.disponible) { this.addError("Ingrese un saldo disponible"); }

        if(!this.esNumber(this.cuenta)) { this.addError("Cuenta incorrecta"); }
        if(!this.esNumber(this.disponible)) { this.addError("Disponible incorrecto"); }
        if(!this.esNumber(this.utilizado)) { this.addError("Utilizado incorrecto"); }

        if(!this.hayError) { this.$.doIdCuenta.generateRequest() };
      }

      manageClientes(data) {
        console.log(data.detail.response);
        this.clientes = data.detail.response;
      }

      showErrorClientes() {
        console.log("pasa algo");
      }

      manageIdCuenta(data) {
        var dataCuenta = {
          "idcliente": this.idcliente,
        	"idcuenta": data.detail.response.id,
        	"numero": this.cuenta,
        	"saldos": [
        		{
        			"descripcion": "Saldo Disponible",
        			"monto": this.disponible
        		}
        	],
        	"tipo": this.tipo
        }

        if (this.utilizado) {
          dataCuenta.saldos.push({ "descripcion": "Saldo utilizado", "monto": this.utilizado})
        }

        console.log(dataCuenta);

        this.$.doInsCuenta.body = JSON.stringify(dataCuenta);
        this.$.doInsCuenta.generateRequest();
      }

      addErrorIdCuenta(data) {
        this.addError("Error al obtener ID Cuenta (" + data.detail.request.status + ")");
      }

      manageInsCuenta(data) {
        this.cuenta = "";
        this.disponible = "";
        this.utilizado = "";
        this.registrado = true;
      }

      addErrorInsCuenta(data) {
        this.addError("Error al insertar cuenta (" + data.detail.request.status + ")");
      }

      addError(error) {
        if(error) {
          this.error += " -" + error + "- ";
          this.hayError = true;
        }
        else {
          this.error = "";
          this.hayError = false;
        }
      }

      esNumber(number) {
        if(!number) return true;
        return /^([0-9])*$/.test(number);
      }
    }

    window.customElements.define(MySaldos.is, MySaldos);
  </script>
</dom-module>
